<div class="home">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="img">
                    <img src="/assets/imgs/edit-user-male.png" width="100px" height="100px" class="rounded" alt="Registration" (click)="openLg(mymodal)" routerLinkActive="active"  placement="right" ngbTooltip="Registration">
                </div>
                <div class="label"><b (click)="openLg(mymodal)" >Registration</b></div>
            </div>
        </div>
    </div>
</div>

<div>
    <router-outlet></router-outlet>
</div>



<ng-template #mymodal let-modal>

    <div class="modal-header">
  
      <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
  
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
  
        <span aria-hidden="true">×</span>
  
      </button>
  
    </div>
  
    <div class="modal-body">
  
     <app-register></app-register>
  
    </div>
  
    <div class="modal-footer">
  
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  
    </div>
  
  </ng-template>