<div class="header">
  <div class="container">
      <div class="row">
        <div class="grid col-md-1">
          <button class="btn btn-primary" routerLink="/home" routerLinkActive="active">Home</button>
        </div>
        <div class="grid col-md-2">
          <button class="btn btn-primary">Registration</button>
        </div>
        <div class="grid col-md-2">
          <button class="btn btn-primary">About us</button>
        </div>
        <div class="grid col-md-3">
          <button class="btn btn-primary" >logout</button>
        </div>
      </div>
  </div>
</div>